* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --green: hsl(160deg, 100%, 30%);

  --gold-50: hsl(45deg, 100%, 50%);
  --gold-40: hsl(45deg, 100%, 40%);

  --grey-10: hsl(0deg, 0%, 10%);
  --grey-30: hsl(0deg, 0%, 30%);
  --grey-40: hsl(0deg, 0%, 40%);
  --grey-60: hsl(0deg, 0%, 60%);
}

html,
body {
  background-color: var(--grey-60);
  color: var(--grey-10);
  height: 100%;
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 100%;
}

header, main {
  padding: 5% 0;
}

header {
  background-color: white;
  border-bottom: .25rem solid var(--grey-40)
}

main .card {
  background-color: white;
  border-bottom: .25rem solid var(--grey-30);
}

main h2 {
  background-color: var(--gold-50);
  border-bottom: .25rem solid var(--gold-40);
  margin-left: -1rem;
  padding: 1rem 2.5rem;
  width: fit-content;
}

main p {
  padding: 0 1.5rem;
  margin: 1rem 0;
}

.intro-chunk,
main .card {
  margin: 0 auto;
  max-width: 600px;
}

.intro-chunk {
  padding-left: 1.5rem;
}

.intro-chunk p {
  max-width: 50%;
}

strong {
  color: var(--green);
}
